:root{
    --bg-color-2c3e50: #2c3e50;
    --bg-color-1abc9c: #1abc9c;
    --bg-color-3a546d: #3a546d;
}
/*STYLE SECTION*/
.sect-nav{
    background-color: var(--bg-color-2c3e50);

}

.jumbotron{
    background-color: var(--bg-color-1abc9c);

}

.navbar-brand, .nav-link{
    color: white;
    font-size: 1.5rem;
}

.jumbotron .container{
    max-width: 600px;
}

/* debug */



[class*="container"] {
    border: 1px rgb(255, 255, 255) solid;

    
}

.green {
    background-color: #1abc9c;
    min-height: 400px;
}

